{% include "header.html" %}
<div class="recommend">
<h4>Fresh recommendations</h4><hr>

</div>
  <div class="content_sell">

    <!-- Add more item_sell divs as needed -->
    {% for content in store %}
    <div class="item_sell">
      <a href="/item/{{content.id}}">
        <div class="item_contain">

          <div class="item_img">
            <img src="/media/{{content.Upload_image}}" class="sell_image" alt="">
          </div>
          <span class="item_price">
             <i class="fa-solid fa-indian-rupee-sign"></i>
             <h3>{{content.SET_A_PRICE}}</h3>
          </span>
        
          <div class="extra">{{content.title}}</div>
          <div class="item_desc">
            {{content.Description}}
          </div>
          <div>
            <i class="fas fa-calendar"></i> Listing Date:
            <span class="float-right ">{{content.list_date}}</span>
          </div>
        </div>
      </a>
     
    </div>
    {% empty %}
    No Data Found
    {% endfor %}
  
    <div class="ads">
      <div>
        <p>Want to see your stuff here?</p>
        <p>Make some extra cash by selling things in your community. Go on, it's quick and easy.</p>
      </div>
      <button><a href="/sell/">Start Selling</a></button>
    </div>
    
  </div>
  <!-- {% if store.has_previous %}
  <button><a href="/?page={{store.previous_page_number}}">Previous</a></button>
  {% endif %}
  {% if store.has_next %}
  <button><a href="/?page={{store.next_page_number}}">Next</a></button>
    
  {% endif %}
  {% for page in totalPageList  %}
    <button><a href="/?page={{page}}">{{page}}</a></button>
  {% endfor %}
  <button><a href="/?page={{totalPage}}">Last</a></button> -->
  {% comment %} {% for user in users %}
{{user}}
{% endfor %} {% endcomment %}
{% comment %} {{request.user}} {% endcomment %}
<div class="slider">
  <div aria-label="...">
    <ul class="pagination">
      {% if store.has_previous %}
      <li class="page-item ">
        <a href="/?page={{store.previous_page_number}}" class="page-link">Previous</a>
      </li>
      {% endif %}
      {% if store.has_next %}
      <li class="page-item">
        <a class="page-link" href="/?page={{store.next_page_number}}">Next</a>
      </li>
      {% endif %}
      {% for page in totalPageList  %}
      <li class="page-item"><a class="page-link" <a href="/?page={{page}}">{{page}}</a></li>
  {% endfor %}
      
      
      <li class="page-item">
        <a class="page-link" href="/?page={{totalPage}}">Last</a>
      </li>
    </ul>
  </div>
</div>
  {% include "footer_olx.html" %}
</body>

</html>
